@import "colors.styl"
.contact
  position:absolute
  top:-100%
  left:0
  height:100%
  width:100%
  background: $grey
  z-index:50
  transition: top .3s
  font-size:14px
  .close
    position:absolute
    width: 100%
    height:100%
    background: url('../icons/close.svg') no-repeat
    background-position: center center
  .closeClick
    position:absolute
    width: 30%
    height: 100%
    left: 35%
    cursor: pointer
  .content
    position:absolute
    width: 400px
    top: 50%
    left: 20px
    color: white
    @media screen and (max-width: 900px) and (orientation : landscape)
      top: 100px
      max-width: 600px
    @media screen and (max-width: 600px)
      top: 100px
      width:300px
    a
      text-decoration: none
      color:white
      transition: color .3s
      &:hover
        color:#ccc

.true
  .contact
    top:0
