.contact
  position:absolute
  top:-100%
  left:0
  height:100%
  width:100%
  background:#777777
  z-index:50
  transition: top .3s
  .content
    position:absolute
    width: 400px
    top: 50%
    left: 20px
    color: white
.true
  .contact
    top:0
