@font-face
  font-family: 'Moderat-Regular'
  src: url('../fonts/ModeratTrial-Regular.otf') format('opentype')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'Moderat-Bold'
  src: url('../fonts/ModeratTrial-Bold.otf') format('opentype')
  font-weight: normal
  font-style: normal
