.header
  width: 100%
  position: absolute
  z-index: 100
  h1
    position:absolute
    top:30px
    left: 50px
  h2
    position:absolute
    top:70px
    left: 50px
  .contact
    position:absolute
    right:50px
    top:70px
