.header
  width: 100%
  position: absolute
  z-index: 100
  h1
    width:370px
    position:absolute
    top:30px
    left: 50px
    font-family: 'Moderat-Bold'
  h2
    width:370px
    position:absolute
    top:70px
    left: 50px
    text-align:center
  .cont
    position:absolute
    right:50px
    top:70px
    cursor:pointer
